* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* header styles */
.header {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 7.81vh;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border: none;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 18.4%;
    padding: 1vh;
    gap: 1vh;
    flex-shrink: 0; /* Prevent the container from shrinking */
    align-self: stretch;
  }
  .logo-img {
    width: 123px; /* Adjust width as needed */
    height: 44.9; /* Maintain aspect ratio */

  }
  .title-section{
    display: flex;
    width: 81.6vw; /* Dynamically calculate remaining space after the logo container */
    justify-content: space-between; /* Ensure space is distributed between child elements */
    align-items: center; /* Vertically align items in the center */
    flex-shrink: 1; /* Allow shrinking if needed to fit smaller viewports */
    align-self: stretch;
  }

  .title{
    padding: 1% 0 1% 4.6%;
    color: var(--mobius-secondary, #FFAB45);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  
  .search-bar {
    margin-left: auto; /* Pushes the search bar to the far right */
     /* Adds spacing from the edge */
    display: flex;
    justify-content: flex-end; /* Align content inside the search bar */
    width: 23.3%;
    height: 58%;
    padding-right: 20px;
  }
  
  .search-bar input {
    width: 100%; 
    padding: 8px 12px;

    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .icons {
    display: flex;
    list-style: none; /* Remove bullet points */
  }
  
  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  
  .icon-button:hover {
    background-color: #f0f0f0;
  }
  
  .icon-button i {
    font-size: 18px;
    color: #333;
  }
  /* Side nav bar */

  .side-nav-container {
  width: 17.36vw;
  height: 91.41vh; /* Full width of the container */
  background-color: #444;
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;
}
.navbar {
  width: 24%;
  height: 74.79%;
  background-color: #f0f0f0;
}