* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* header styles */
.header {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 7.8125vh;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border: none;
  }
  
  .header-div {
    display: flex;
    width: 18.4vw;
    height: 5.86vh;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 245px;
    height: 60px;
    padding: 10px;
  }
  
  .logo-img {
    width: 123px; /* Adjust width as needed */
    height: 44.9; /* Maintain aspect ratio */

  }
  
  .title {
    color: var(--mobius-secondary, #FFAB45);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  
  .search-bar {
    margin-left: auto; /* Pushes the search bar to the far right */
     /* Adds spacing from the edge */
    display: flex;
    justify-content: flex-end; /* Align content inside the search bar */
    width: 250px;
    height: 35px;
  }
  
  .search-bar input {
    width: 100%;
    max-width: 300px; /* Adjust size of search bar */
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .icons {
    display: flex;
    padding: 40px;
    list-style: none; /* Remove bullet points */
  }
  
  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .icon-button:hover {
    background-color: #f0f0f0;
  }
  
  .icon-button i {
    font-size: 18px;
    color: #333;
  }