* .events-section {
  overflow-y: auto;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
  height:50%;
}
h3 {
  padding-bottom: 10px;
  font-size: 0.9rem;
  padding-left: 10px;
}

li {
  list-style: none;
}

.event-button {
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0.3rem;
  border-radius: 8px;
  background-color: inherit;
}

.event-button:hover {
  background-color: inherit;
}


.math {
  background-color: #cce7e8;
  color: #006d77;
}

.consultation {
  background-color: #fce5cd;
  color: #b45f06;
}

.meetings {
  background-color: #e0e0e0;
  color: #333333;
}

.exams {
  background-color: #f4cccc;
  color: #990000;
}


